<!--
  Generated template for the BilldetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>BILL DETAILS</ion-title>
      <ion-buttons end>
      <button ion-button (click)="closeModal()" style="color:white">Close</button>
      </ion-buttons>
  </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <ion-grid id='b'>
      <ion-row>
        <ion-col col-12 text-center>
            <h2>GOOD SERVICE</h2>
            <p> No. 16, Subash Chandra Bose Road, Bendrenagar, BSK 2nd Stage, Bengaluru - 560070</p>
        </ion-col>
        <ion-col col-7>
          <p id='a'><b>Customer:</b> {{bill.c_phone}}</p>
        </ion-col>
        <ion-col col-5>
          <p id='a'><b>Date:</b> {{bill.date}}</p>
        </ion-col>
        <ion-col col-7>
          <p id='a'><b>Bill id:</b> {{bill.id}}</p>
        </ion-col>
        <ion-col col-5>
          <p id='a'><b>Lead id:</b> {{bill.l_id}}</p>
        </ion-col>
        <ion-col col-8 text-center id='b'>
          <h4 id='c'>Description</h4>
        </ion-col>
        <ion-col col-4 text-center id='b'>
          <h4 id='c'>Amount</h4>
        </ion-col>
        <ion-col col-8 text-center id='b'>
          <p id='c' style="white-space: pre">{{bill.description}}</p>
        </ion-col>
        <ion-col col-4 text-center id='b'>
          <p id='c'>{{bill.amount}}</p>
        </ion-col>
        <ion-col col-8 text-center id='b'>
          <p id='c'><b>Total</b></p>
        </ion-col>
        <ion-col col-4 text-center id='b'>
          <p id='c'>{{bill.amount}}</p>
        </ion-col>
        <ion-col col-8 text-center id='b'>
          <p id='c'><b>SGST 9%</b></p>
        </ion-col>
        <ion-col col-4 text-center id='b'>
          <p id='c'>{{bill.gst/2}}</p>
        </ion-col>
        <ion-col col-8 text-center id='b'>
          <p id='c'><b>CGST 9%</b></p>
        </ion-col>
        <ion-col col-4 text-center id='b'>
          <p id='c'>{{bill.gst/2}}</p>
        </ion-col>
        <ion-col col-8 text-center id='b'>
          <p id='c'><b>Grand Total</b></p>
        </ion-col>
        <ion-col col-4 text-center id='b'>
          <p id='c'>{{bill.gst + bill.amount}}</p>
        </ion-col>
        <ion-col col-12 text-center>
          <img src="assets/imgs/GoodService.jpg" style="height:100px; margin:auto;"/>
          <p>Thank You!!</p>
          <p>GD97{{bill.st_phone}}21SR</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button full color='secondary' (click)="createPdf()">Download &nbsp; <ion-icon name="download" style="color:white"></ion-icon></button>
  </ion-content>
