<!--
  Generated template for the BookingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>MY BOOKINGS</ion-title>
      </ion-navbar>

</ion-header>


<ion-content padding>
    <div>
        <ion-segment [(ngModel)]="status">
          <ion-segment-button (click)="getLeads('all')" value='all'>
            <b style='font-size: 16px'>ONGOING</b>
          </ion-segment-button>
          <ion-segment-button (click)="getLeads('completed')" value='completed'>
            <b style='font-size: 16px'>COMPLETED</b>
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div *ngIf='allLeads'>
      <ion-list *ngIf="status=='all'">
        
        <div *ngFor="let x of allLeads" (click)="itemSelected(x)">
          <ion-card>
            <ion-card-content>
              <b>Lead Id:</b> {{x.l_id}}<br>
              <b>Category:</b> {{x.category}} <br>
              <b>Brand:</b> {{x.brand}}
            </ion-card-content>
          </ion-card>
        </div>
      </ion-list>

      <ion-list *ngIf="status=='completed'">
        
        <div *ngFor="let x of allLeads" (click)="itemSelected(x)">
          <ion-card>
            <ion-card-content>
              <b>Lead Id:</b> {{x.l_id}}<br>
              <b>Category:</b> {{x.category}} <br>
              <b>Brand:</b> {{x.brand}} <br>
              <b>Completed:</b> {{x.completed_date}}
            </ion-card-content>
          </ion-card>
        </div>
      </ion-list>
    </div>
      
</ion-content>
