<ion-content padding id='login' style="display:block">
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <img src="assets/imgs/GoodService.jpg" style="height:100px; margin:auto;" />
      </ion-col>
      <ion-list col-12>
        <ion-item>
          <ion-label>
            <ion-icon name="call"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="userPhone" type="tel" placeholder="Enter Phone Number"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list col-12>
        <ion-item>
          <ion-label>
            <ion-icon name="key"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="userPass" type="password" placeholder="Enter Password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-col col-12>
        <button ion-button block (click)=doLogin()>Login</button>
      </ion-col>
      <ion-col col-6>
        <ion-label (click)=showSignUpGetOtp()>
          <ion-icon name="person"></ion-icon> SignUp
        </ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-label align="right" (click)=showGetOtpForgot()>Forgot Password ?</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content padding id='showGetOtpForgot' style="display:none">
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <img src="assets/imgs/GoodService.jpg" style="height:100px; margin:auto;" />
      </ion-col>
      <ion-list col-12>
        <ion-item>
          <ion-label>
            <ion-icon name="call"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="userPhone" type="tel" placeholder="Enter Phone Number"></ion-input>
        </ion-item>
      </ion-list>
      <ion-col col-12>
        <button ion-button block (click)=getOtpForgot()>Get OTP</button>
      </ion-col>
      <ion-col col-6>
        <ion-label (click)=login()>
          <ion-icon name="person"></ion-icon> Login
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content padding id='showVerifyOtpForgot' style="display:none">
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <img src="assets/imgs/GoodService.jpg" style="height:100px; margin:auto;" />
      </ion-col>
      <ion-list col-12>
        <ion-item>
          <ion-label>
            <ion-icon name="key"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="otp" type="password" placeholder="Enter OTP"></ion-input>
        </ion-item>
      </ion-list>
      <ion-col col-12>
        <button ion-button block (click)=verifyOTP()>Verify</button>
      </ion-col>
      <ion-col col-6>
        <ion-label (click)=login()>
          <ion-icon name="person"></ion-icon> Login
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content padding id='showResetPassword' style="display:none">
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <img src="assets/imgs/GoodService.jpg" style="height:100px; margin:auto;" />
      </ion-col>
      <ion-list col-12>
        <ion-item>
          <ion-label>
            <ion-icon name="key"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="newPassword" type="password" placeholder="Enter New Password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list col-12>
        <ion-item>
          <ion-label>
            <ion-icon name="key"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="confirmPassword" type="password" placeholder="Confirm Password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-col col-12>
        <button ion-button block (click)=resetPassword()>Reset</button>
      </ion-col>
      <ion-col col-6>
        <ion-label (click)=login()>
          <ion-icon name="person"></ion-icon> Login
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content padding id='showSignUpGetOtp' style="display:none">
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <img src="assets/imgs/GoodService.jpg" style="height:100px; margin:auto;" />
      </ion-col>
      <ion-list col-12>
        <ion-item>
          <ion-label>
            <ion-icon name="call"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="userPhone" type="tel" placeholder="Enter Phone Number"></ion-input>
        </ion-item>
      </ion-list>
      <ion-col col-12>
        <button ion-button block (click)=getOtpSignUp()>Get OTP</button>
      </ion-col>
      <ion-col col-6>
        <ion-label (click)=login()>
          <ion-icon name="person"></ion-icon> Login
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content padding id='showVerifyOtpSignUp' style="display:none">
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <img src="assets/imgs/GoodService.jpg" style="height:100px; margin:auto;" />
      </ion-col>
      <ion-list col-12>
        <ion-item>
          <ion-label>
            <ion-icon name="key"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="otp" type="tel" placeholder="Enter OTP"></ion-input>
        </ion-item>
      </ion-list>
      <ion-col col-12>
        <button ion-button block (click)=verifySignUpOTP()>Verify</button>
      </ion-col>
      <ion-col col-6>
        <ion-label (click)=login()>
          <ion-icon name="person"></ion-icon> Login
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content padding id='showSignUp' style="display:none">
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <img src="assets/imgs/GoodService.jpg" style="height:100px; margin:auto;" />
      </ion-col>
      <ion-list col-12>
        <ion-item>
          <ion-label>
            <ion-icon name="call"></ion-icon>
          </ion-label>
          <ion-input [ngModel]="userPhone" type="text" placeholder="Phone Number" readonly></ion-input>
        </ion-item>
      </ion-list>
      <ion-list col-12>
        <ion-item>
          <ion-label>
            <ion-icon name="person"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="userName" type="text" placeholder="Enter Name"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list col-12>
        <ion-item>
          <ion-label>
            <ion-icon name="mail"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="userEmail" type="email" placeholder="Enter Email"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list col-12>
        <ion-item>
          <ion-label>
            <ion-icon name="key"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="userPass" type="password" placeholder="Enter Password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-col col-12>
        <button ion-button block (click)=signUp()>SignUp</button>
      </ion-col>
      <ion-col col-6>
        <ion-label (click)=login()>
          <ion-icon name="person"></ion-icon> Login
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>