<!--
  Generated template for the AddleadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BOOK YOUR SERVICE NOW</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4 text-center>Please Fill All The Details:</h4>
  <ion-card>
    <ion-card-content id='first' style="display:block;">  
      <ion-grid>
        <ion-row>
             <ion-col col-5>
                <h2><ion-icon name="apps"></ion-icon><b> Category:</b></h2>
              </ion-col>
              <ion-col col-7>
                <h2>{{category}}</h2>
              </ion-col>

              <ion-col col-5>
                  <ion-label><h2><ion-icon name="radio-button-off"></ion-icon><b> Brand:</b></h2></ion-label>
                </ion-col>
                <ion-col col-7>
                    <ion-select [(ngModel)]="brand" style="max-width: fit-content;">
                        <ion-option *ngFor='let cat of categoryList' value="{{cat}}"><h2>{{cat}}</h2></ion-option>
                    </ion-select>
                </ion-col>

                <ion-col col-12>
                    <h2><ion-icon name="information-circle"></ion-icon><b> Enter Problem Details:</b></h2>
                  </ion-col>
                  <ion-col col-12>
                      <ion-textarea [(ngModel)]="description" placeholder="Enter Message.." rows='8' style="border: 1px solid rgb(0, 72, 134);"></ion-textarea>
                  </ion-col>
                  <ion-col col-12>
                  <button ion-button full (click)="openSecond()">NEXT &nbsp;<ion-icon name="arrow-round-forward" style="color:white"></ion-icon></button>
                </ion-col>
            </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-content id='second' style="display:none;">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h2 text-center><ion-icon name="home"></ion-icon> <b> Select Address:</b></h2>
            <ion-list radio-group  [(ngModel)]="ca_id">
                <ion-item *ngFor='let a of c_address; let i =index;'>
                    <ion-label>{{a.address}}, {{a.city}}, {{a.state}} - {{a.zip}}
                        <br>Phone: {{a.optional_phone}}</ion-label>
                    <ion-radio checked='false' value={{a.ca_id}}></ion-radio>
                    <!-- <ion-radio checked='false' value={{a.ca_id}} ngDefaultControl ></ion-radio> -->
                </ion-item>
            </ion-list>
          </ion-col>
          <ion-col col-12>
              <button ion-button  color="secondary" full (click)='showThird()'>Add New Address &nbsp;<ion-icon name="add" style="color:white"></ion-icon></button> 
          </ion-col>
          <ion-col col-6>
              <button ion-button full (click)=showFirst()><ion-icon name="arrow-round-back" style="color:white"></ion-icon> &nbsp; BACK</button>   
          </ion-col>
          <ion-col col-6>
              <button ion-button full (click)='addLead()'>SUBMIT &nbsp;<ion-icon name="checkmark-circle" style="color:white"></ion-icon></button>   
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-content id='third' style="display:none;">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h2 text-center><ion-icon name="home"></ion-icon> <b> Add Address:</b></h2>
          </ion-col>
          <ion-list col-12>
            <ion-item>
              <ion-textarea [(ngModel)]="address" placeholder="Enter Address.." rows='6' style="border: 1px solid rgb(0, 72, 134);    margin-bottom: 15px; "></ion-textarea>
            </ion-item>
            <ion-item>     
              <ion-input [(ngModel)]="city" type="text" placeholder="Enter City.." style="border: 1px solid rgb(0, 72, 134); margin-bottom: 15px;"></ion-input>
            </ion-item>
            <ion-item>
               <ion-input [(ngModel)]="state" type="text" placeholder="Enter State.." style="border: 1px solid rgb(0, 72, 134); margin-bottom: 15px;"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="zip" type="text" placeholder="Enter zip.." style="border: 1px solid rgb(0, 72, 134);margin-bottom: 15px; "></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="optional_phone" type="text" placeholder="Optional Phone.." style="border: 1px solid rgb(0, 72, 134);margin-bottom: 15px; "></ion-input>
            </ion-item>
          </ion-list>
          <ion-col col-6>
            <button ion-button full (click)='addNewAddress()'>ADD &nbsp;<ion-icon name="checkmark-circle" style="color:white"></ion-icon></button>   
          </ion-col>
          <ion-col col-6>
              <button ion-button full (click)=openSecond()>Cancel &nbsp;<ion-icon name="close-circle" style="color:white"></ion-icon></button>   
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
      
  </ion-card>
  
</ion-content>
