<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>MY PROFILE</ion-title>
      </ion-navbar>

</ion-header>


<ion-content padding>
    
<ion-card>
 <ion-card-content *ngIf='customerInfo' id='profilePage' style="display:block;">
    <ion-grid>
        <ion-row>
            <ion-col col-4>
                <h2><ion-icon name="person"></ion-icon> <b> Name:</b></h2>
            </ion-col> 
            <ion-col col-8>
                    <p>{{customerInfo.name}}</p>
            </ion-col> 
            <ion-col col-4>
                    <h2><ion-icon name="call"></ion-icon> <b> Phone:</b></h2>
            </ion-col> 
            <ion-col col-8>
                    <p>{{customerInfo.c_phone}}</p>
            </ion-col> 
            <ion-col col-4>
                    <h2><ion-icon name="mail"></ion-icon> <b> Email:</b></h2>
            </ion-col> 
            <ion-col col-8>
                    <p>{{customerInfo.email}}</p>
            </ion-col> 
        </ion-row>
    </ion-grid>
</ion-card-content>
<ion-card-content *ngIf='customerInfo' id='editPage' style='display: none'>
    <ion-grid>
        <ion-row>
            <ion-col col-4>
                <h2><ion-icon name="person"></ion-icon> <b> Name:</b></h2>
            </ion-col> 
            <ion-col col-8>
                    <input type='text' [(ngModel)]='customer_name'>
            </ion-col> 
            <ion-col col-4>
                    <h2><ion-icon name="call"></ion-icon> <b> Phone:</b></h2>
            </ion-col> 
            <ion-col col-8>
                    <p>{{customerInfo.c_phone}}</p>
            </ion-col> 
            <ion-col col-4>
                    <h2><ion-icon name="mail"></ion-icon> <b> Email:</b></h2>
            </ion-col> 
            <ion-col col-8>
                <input type='text' [(ngModel)]='customer_email'>
            </ion-col> 
        </ion-row>
    </ion-grid>
</ion-card-content>
</ion-card>
<ion-grid>
    <ion-row>
        <ion-col col-12 id='editButton' style='display: block;'>
            <button ion-button full (click)='editProfile()'>EDIT</button>
        </ion-col>
        <ion-col col-6 id='updateButton' style="display:none;">
            <button ion-button full (click)='updateProfile()'>UPDATE</button>
        </ion-col>
        <ion-col col-6 id='cancelButton' style="display:none;">
            <button ion-button full (click)='cancel()'>CANCEL</button>
        </ion-col>
        <ion-col col-12>
            <button ion-button full (click)='logout()'>
                Logout &nbsp;
                <ion-icon name="log-out" style="color:white"></ion-icon>
              </button>
        </ion-col>
    </ion-row>
</ion-grid>
    
    <!-- <button ion-button small>Default</button> -->
</ion-content>
