page-home {
    #category{
        box-shadow: 1px 1px 1px 0px #004989;
        min-height: 33.33%;
        img{
            height:auto; 
            width:54%; 
            margin:auto;
        }
        p{
            margin-top: 0px;
            font-size: smaller;
            font-weight: 600;
        }
    }
}

