<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>GOOD SERVICE</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-row>
    
      <ion-col col-4 text-center id="category" (click)="getCategory('TV')">
          <img src="assets/imgs/1.png" />
          <p>Television <br> Repairs</p>
      </ion-col>
      <ion-col col-4 text-center id="category" (click)="getCategory('REFRIGERATOR')">
          <img src="assets/imgs/2.png"/>
          <p>Refrigerator <br> Repairs</p>
      </ion-col>
      <ion-col col-4 text-center id="category" (click)="getCategory('MICROWAVE-OVEN')">
          <img src="assets/imgs/4.png" />
          <p>Microwave <br> Repairs</p>
      </ion-col>
      <ion-col col-4 text-center id="category" (click)="getCategory('AC')">
          <img src="assets/imgs/5.png" />
          <p>Air Conditioner <br> Repairs</p>
      </ion-col>
      <ion-col col-4 text-center id="category" style="padding-top: 16px;">
        <img src="assets/imgs/GoodService.jpg" style="width:70%;" />
        <!-- <p style="visibility: hidden;">Good Service <br> logo</p> -->
      </ion-col>

      <ion-col col-4 text-center id="category" (click)="getCategory('WASHING-MACHINE')">
        <img src="assets/imgs/3.png"/>
        <p>Washing Machine <br> Repairs</p>
     </ion-col>
      <ion-col col-4 text-center id="category" (click)="getCategory('CHIMNEY')">
          <img src="assets/imgs/6.png"/>
          <p>Chimney <br> Repairs</p>
      </ion-col>

      <ion-col col-4 text-center id="category" (click)="getCategory('GEYSER')">
          <img src="assets/imgs/7.png"/>
          <p>Geyser <br> Repairs</p>
      </ion-col>
      <ion-col col-4 text-center id="category" (click)="getCategory('WATER-PURIFIER')">
          <img src="assets/imgs/8.png"/>
          <p>Water Purifier <br> Repairs</p>
      </ion-col>
    
  </ion-row>
</ion-content>
