<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    
    <ion-title >{{showData}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <div *ngIf="showData==='ABOUT'">
    <p>With over 15 years of experience, GoodService has solidified itself as leading service providers of repairs and parts replacements on all household appliances and electronic device, though out the country.</p>
    <p>With speedy response one can trust us, and not hesitate to get in touch with us for any kind of appliance GoodService and assistance. We pride ourselves for quickness as well as expertise GoodService offered for different range of appliances from washing machines to electronic gadgets.</p>
    <p>GoodService offers the most prominent Home, Kitchen and Electrical appliance GoodService at considered able cost. We are most appropriate suggestion for your GoodService. We undertake repairs to faults or fitting replacement of appliance parts with the experienced professionals, which is further backed by a guarantee of quality of the work. Our services are undertaken with a safety testing and tagging compliance with the standards of manufacturer. Appliance owners are ensured with the appliance GoodService that is in par excellence with the authorized brand of appliance and manufacturer GoodService.</p>
    <p>GoodService possesses expertise of highly trained and fully qualified technicians well worse in repair and services of home appliances and electronic device.</p>
  </div>
  <div *ngIf="showData==='CONTACT US'">
      <p>GOOD SERVICE</p>
      <p>We Undertake Repairs & Servicing</p>
      <p>Air Condition, Refrigerator, Washing Machine, Micro Oven, LED, LCD, Water Purifiers, Geyser</p>
      <p>No. 16, Subash Chandra Bose Road, Bendrenagar, BSK 2nd Stage, Bengaluru - 560070</p>  
      <p>CONTACT: 08043004411 / 7829557865 / 9945559398 / 9696019999 / 9739855441 / 9742255176 / goodserviceoffice01@gmail.com / goodservice738@gmail.com</p>
  </div>
</ion-content>
