// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-icon,.tabs-md .tab-button[aria-selected=true] .tab-button-icon,.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text{
    color: rgb(0, 72, 134);
}
.button-block-md,.button-md,.button-full-md,.toolbar-background-md{
    background-color: rgb(0, 72, 134);
}
.toolbar-title-md,.bar-button-menutoggle-md ion-icon,.back-button-icon-md{
    color: white;
}

.card-md{
    box-shadow: 1px 1px 0px 2px #eee;
}


