<!--
  Generated template for the LeaddetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>DETAILS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <ion-list>
      <ion-card>
        <ion-card-header>
          <cite>Booking Details:</cite>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-4>
                <p><ion-icon name="eye"></ion-icon><b> Lead Id:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{leadinfo.l_id}}</p>
              </ion-col>
              <ion-col col-4>
                <p><ion-icon name="apps"></ion-icon><b> Category:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{leadsDetails.category}}</p>
              </ion-col>
              <ion-col col-4>
                <p><ion-icon name="radio-button-off"></ion-icon><b> Brand:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{leadsDetails.brand}}</p>
              </ion-col>
              <ion-col col-5>
                  <p><ion-icon name="calendar"></ion-icon><b> Booked On:</b></p>
                </ion-col>
                <ion-col col-7>
                  <p>{{leadsDetails.date}}</p>
                </ion-col>
              <ion-col col-5>
                <p><ion-icon name="information-circle"></ion-icon><b> Description:</b></p>
              </ion-col>
              <ion-col col-7>
                <p>{{leadsDetails.description}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <cite>Address Details:</cite>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-4>
                <p><ion-icon name="person"></ion-icon><b> Name:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{customerAddress.name}}</p>
              </ion-col>
              <ion-col col-4>
                <p><ion-icon name="call"></ion-icon><b> Phone:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{leadinfo.c_phone}}</p>
              </ion-col>
              <ion-col col-4>
                <p><ion-icon name="mail"></ion-icon><b> Email:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{customerAddress.email}}</p>
              </ion-col>
              <ion-col col-4>
                <p><ion-icon name="home"></ion-icon><b> Address:</b></p>
              </ion-col>
              <ion-col col-8>
                <p>{{customerAddress.address}}, {{customerAddress.city}}, {{customerAddress.state}} - {{customerAddress.zip}}<br> Phone: {{customerAddress.optional_phone}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>  
      <ion-grid *ngIf='withoutGstBills_length'>
        <ion-row>
            <ion-card>
                <ion-card-header>
                  <cite>Bills:</cite>
                </ion-card-header>
            
               <ion-card-content>
               <div *ngFor="let b of withoutGstBills;">
                  <ion-col col-6>
                    <b>Bill Date:</b> {{b.date}}
                  </ion-col>
                  <ion-col col-6>
                      <button ion-button small (click)=viewBill(b)><p>VIEW &nbsp; <ion-icon name="eye"></ion-icon></p></button>
                  </ion-col>
                </div>
               </ion-card-content>
            </ion-card>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf='withGstBills_length'>
        <ion-row>
            <ion-card>
                <ion-card-header>
                  <cite>Bills:</cite>
                </ion-card-header>
            
               <ion-card-content>
               <div *ngFor="let b of withGstBills;">
                  <ion-col col-6>
                    <b>Bill Date:</b> {{b.date}}
                  </ion-col>
                  <ion-col col-6>
                      <button ion-button small (click)=viewBill(b)>VIEW &nbsp;<ion-icon name="eye" style="color:white"></ion-icon></button>
                  </ion-col>
                </div>
               </ion-card-content>
            </ion-card>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
  <ion-row> 
  <ion-col col-12 *ngIf="leadinfo.status==='COMPLETED'">
    <button ion-button full (click)='reOpen(leadinfo.completed_date,leadinfo.l_id)'>
      Reopen &nbsp;
     <ion-icon name="repeat" style="color:white"></ion-icon>
   </button>
</ion-col>
</ion-row>

</ion-content>
